<h1>Дополнительные материалы</h1>

<h2>Tutorials</h2>
<div>
  <a href="https://angular.io/tutorial">Tour of Heroes</a> - официальный стайлгайд
</div>
<div>
  <a href="https://www.udemy.com/the-complete-guide-to-angular-2/">Angular 5 (formerly Angular 2) - The Complete Guide</a>
  - полное руководство по Angular (Цена курса 10$)
</div>

<h2>Стайлгайд</h2>
<div>
  <a href="https://angular.io/guide/styleguide">
    https://angular.io/guide/styleguide
  </a> - оригинал</div>
<div>
  <a href="http://www.front-nika.ru/ru/angular-2-luchshie-praktiki-style-guide/">
    http://www.front-nika.ru/ru/angular-2-luchshie-praktiki-style-guide/
  </a> - перевод</div>

<h2>Быстрая работа с angular-cli</h2>
<div>
  <a href="https://cli.angular.io/">angular-cli</a>
</div>
<div>
  <a href="https://github.com/angular/angular-cli/wiki/generate">быстрая генерация модулей, компонентов и др.</a>
</div>
<div>
  <a href="https://github.com/angular/angular-cli/wiki/build">дополнительные параметры для сборки</a>
</div>

<h2>flux и redux</h2>
<div>
  <a href="https://medium.com/russian/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE-%D0%BF%D0%BE-flux-%D0%B2-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%D1%85-d59c03562ea">Руководство по Flux в картинках</a>
</div>
<div>
  <a href="https://github.com/ngrx/platform">@ngrx/platform</a> - Reactive libraries for Angular
</div>

<div>
  <a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd">Redux DevTools</a> - Расширение для Chrome
</div>
